body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.carrossel {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.imagens-carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.imagens-carrossel img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.botoes-carrossel {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.botoes-carrossel button {
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ativo {
    border: 2px solid #007bff;
}
