{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1 class="display-4">Bem-vinda ao I&M Studies 💗🕰️</h1>
  <p class="lead">📌๋࣭ ⭑📜 Explore projetos estéticos e produtivos.</p>
  <hr class="my-4">
  <p>Use os links abaixo para navegar:</p>
  <a class="btn btn-primary btn-lg" href="/to-do-list" role="button">To-Do List</a>
  <a class="btn btn-secondary btn-lg" href="/flip-clock" role="button">Flip Clock</a>
  <a class="btn btn-info btn-lg" href="/sobre" role="button">Sobre</a>
</div>

<div class = "container mt-5">
  <h2> Algumas funcionalidades</h2>
  <ul class="list-group">
    {% for func in funcionalidades %}
    <li class="list-group-item">
      <strong>{{ func.nome }}</strong>: {{ func.descricao }}
      <a href="{{ func.link }}" class="btn btn-link">Saiba mais</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
